<ol>
    <% tasks.each do |task| %>
    <li>
        <%= task.name %>
        <br/>
        <%= link_to 'Show', task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %>
    </li>
    <% end %>
</ol>